<h1>Register:</h1>

@model RegisterViewModel
<form asp-action="Register" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label><br>
        <span asp-validation-for="FirstName"></span>
        <input asp-for="FirstName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label><br>
        <span asp-validation-for="LastName"></span>
        <input asp-for="LastName" class="form-control">
    </div>
    @{
        if(TempData["EmailInUseError"] != null){
                <small id="nameHelp" class="error-message form-text text-muted">@TempData["EmailInUseError"]</small>
        }
    }
    <div class="form-group">
        <label asp-for="Email"></label><br>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Password"></label><br>
        <span asp-validation-for="Password"></span>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label><br>
        <span asp-validation-for="ConfirmPassword"></span>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>
    <input value="Register" type="submit">
</form>

<a href="/login">LOGIN</a>

