@model LoginViewModel
<h1>Login:</h1>
<form asp-action="Login" asp-controller="Home" method="post">
    @{
        if(TempData["EmailError"] != null){
                <small id="nameHelp" class="error-message form-text text-muted">@TempData["EmailError"]</small>
        }
    }
    <div class="form-group">
        <label asp-for="Email"></label><br>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" class="form-control">
    </div>
        @{
            if(TempData["PasswordError"] != null){
                    <small id="passwordHelp" class="error-message form-text text-muted">@TempData["PasswordError"]</small>
            }
        }
    <div class="form-group">
        <label asp-for="Password"></label><br>
        <span asp-validation-for="Password"></span>
        
        <input asp-for="Password" class="form-control">
    </div>
 
    <input value="Login" type="submit">
</form>

<a href="/">Home</a>